/**
 *------------------------------------------------------------------------------
 *
 *  Vertical/Column Card Group
 *
 *  Import Within Cards Stylesheet To Retain Class Inheritance
 *
 */

&-column {
    @include grid(d12);


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    .card {
        margin: card(spacer) 0 0;
        width: 100%;

        &:first-child {
            margin: 0;
        }
    }
}
