/**
 *------------------------------------------------------------------------------
 *
 *  Horizontal Scroll Wrapper
 *
 */

.scroller {
    @include grid(d12);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    // Exact Padding Size Is Not Important; We Just Needed To Hide Scrollbar
    padding: 0 0 40px;

    > * {
        flex: 0 0 auto;
    }
}
