/**
 *------------------------------------------------------------------------------
 *
 *  Page Headers
 *
 */


@include module-function(page-header);


.page-header {

    &,
    &-category,
    &-subtitle {
        @include grid(d12);
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &-category {
        @include line-height(font-size(), top);
        @include uppercase();
        font-weight: font-weight(500);
        margin: 0 0 page-header(spacer category) 0;

        // Modifiers
        @include color-modifiers(color, color-keys(brand));
    }

    &-subtitle {
        @include font-size(font-size(500), bottom);
        margin: page-header(spacer subtitle) 0 0 0;
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Tags/Badges
     *
     *  Creating A Seperate '.badge' Or '.tag' Module Wasn't Worth The Effort
     *  Since The Styles Are Exactly The Same As '.button--badge';
     *
     *  Use '.button--static' Modifier When Badges/Tags Are Not Links
     *
     */

    .button-group {
        &:first-child {
            margin: 0 0 page-header(spacer button-group);
        }

        &:last-child {
            margin: page-header(spacer button-group) 0 0;
        }
    }
}
