/**
 *------------------------------------------------------------------------------
 *
 *  Link Module Configuration
 *
 */

@include module-set(link, (

    // Border Settings Applied To Links Within Groups
    border: (
        radius: 4px,

        // Border Width Of Links Based On Link Size
        size: (
            default: 2px,

            // '.link--small'
            small:   1px,

            // '.link--large'
            large:   3px
        )
    ),

    // Color States
    color: (
        text: (
            default:   color(text 300, 0.92),
            highlight: color(text 400),
            pressed:   color(text 500)
        ),
        'white': (
            default:   color('white', 0.84),
            highlight: color('white', 0.92),
            pressed:   color('white')
        )
    ),

    spacer: (

        // Group Border Within Vertical Nav
        border: size(600),

        // Spacer Between Icon And Text
        icon: (
            default: size(100),

            // Menu Group Icon Spacer
            menu: size(200)
        ),

        link: (
            // Margin Right Spacer Between Tabs In Horizontal Link Group
            scroller: size(600),

            // Top/Bottom Padding Of Each Vertical Nav Link
            // - Also Used As A Spacer Between '.link-title' And '.link'
            vertical: size(100)
        ),

        // Used For Spacing Within Menu Group
        // - Top/Bottom Padding Of Entire Menu
        // - Top/Bottom Margin For '.link-border' Within Menu Group
        menu: size(200),

        // Used For Spacing Within Vertical Group
        // - Top Margin Of Group Titles
        // - Split In 2 For Top/Bottom Margin Of Group Borders
        vertical: size(800),


        /**
         *----------------------------------------------------------------------
         *
         *  @see Button Module Tokens
         *
         */

        badge:   button(spacer badge),
        default: button(spacer default),
        large:   button(spacer large),
        small:   button(spacer small),

        tab: size(600)
    )
));


/**
 *------------------------------------------------------------------------------
 *
 *  Functions
 *
 */

@function link($key) {
    @return module-get(link $key);
}
