/**
 *------------------------------------------------------------------------------
 *
 *  Modal Module Configuration
 *
 */

@include module-set(modal, (
    max-width: (
        default: breakpoint(tablet width),
        small: 360px
    )
));


/**
 *------------------------------------------------------------------------------
 *
 *  Functions
 *
 */

@function modal($key) {
    @return module-get(modal $key);
}
