/**
 *------------------------------------------------------------------------------
 *
 *  Sidebar Module Configuration
 *
 */

@include module-set(sidebar, (
    width: (
        default: 320px,
        small: 200px,
    ),

    // Gutter Used On Both '.content' And '.sidebar' To Evenly Seperate
    spacer: size()
));


/**
 *------------------------------------------------------------------------------
 *
 *  Functions
 *
 */

@function sidebar($key) {
    @return module-get(sidebar $key);
}
