/**
 *------------------------------------------------------------------------------
 *
 *  Minimal Links Used In Numerous Modules
 *
 */


@include module-function(link);


.link {
    @include float();
    @include cursor(pointer);
    @include transition(border-color color);
    line-height: divide(size(), font-size());
    padding: first(link(spacer default)) 0;


    /**
     *--------------------------------------------------------------------------
     *
     *  Modifiers
     *
     */

    // Default Full Padding Modifier
    &--full {
        padding: link(spacer default);
    }

    &--badge,
    &--small {
        font-size: font-size(300);
        line-height: divide(size(), font-size(300));
    }

    &--tab {
        line-height: normal;
        text-align: center;
    }

    &--inline {
        float: none;
        line-height: inherit;
        padding: 0;
    }

    &--underline {
        @include state(hover) {
            text-decoration: underline;
        }
    }

    @each $size in 'badge' 'large' 'small' 'tab' {
        &--#{$size} {
            padding: first(link(spacer $size)) 0;

            &.link--full {
                padding: link(spacer $size);
            }
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &:not(&--icon) .icon {
        @include margin-horizontal(link(spacer icon default));
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Import Children/Modifiers
     *
     */

    @import
        'link-border',
        'link-colors',
        'link-column',
        'link-menu',
        'link-scroller',
        'link-title'
    ;
}
