/**
 *------------------------------------------------------------------------------
 *
 *  Link Group
 *
 *  Import Within Link Stylesheet To Retain Class Inheritance
 *
 */

&-group {
    @include grid(d12);


    /**
     *--------------------------------------------------------------------------
     *
     *  Link Group Menu
     *  - Typically Used For Tooltip Menu Dropdowns's, Off Canvas Menu's, etc
     *
     */

    &--menu {
        padding: link(spacer menu) 0;

        // Modifiers
        &.link-group {
            &--black {
                background: color('black');

                .link {
                    @include state(hover) {
                        background: color('black' 300, 0.64);
                    }
                }
            }

            &--grey {
                background: color('grey');

                .link {
                    @include state(hover) {
                        background: color('white', 0.64);
                    }
                }
            }

            &--white {
                background: color('white');

                .link {
                    @include state(hover) {
                        background: color('grey', 0.64);
                    }
                }
            }
        }


        // Children
        .link-group {
            &-border {
                margin: link(spacer menu) 0;
            }

            &-title + .link-group-border  {
                margin-top: 0;
            }

            &-title {
                margin: link(spacer default);
                z-index: 0;

                // Need To Handle Top Padding Of '.link-group--menu'
                &:first-child {
                    margin-top: first(link(spacer default)) - link(spacer menu);

                    // Get Rid Of Text Crop
                    &::before {
                        display: none;
                    }
                }

                @each $size in 'badge' 'large' 'small' 'tab' {
                    &--#{$size} {
                        margin: link(spacer $size);

                        &:first-child {
                            margin-top: first(link(spacer $size)) - link(spacer menu);
                        }
                    }
                }
            }
        }

        // Match Spacing Created By '.link-group-border' When It's Missing
        .link + .link-group-title {
            margin-top: link(spacer menu) * 2;
        }


        .link {
            display: inline-flex;
            min-width: 100%;
            padding: link(spacer default);
            white-space: nowrap;
            z-index: 1;


            // Rounded Vertical Border
            &::after {
                @include position(absolute, 0 null null 0);
                border-color: inherit;
                border-radius: 0 link(border radius) link(border radius) 0;
                border-style: solid;
                content: '';
                display: none;

                border-width: 0 link(border size default) 0 0;
                height: 100%;
                width: link(border size default);
            }

            &--badge,
            &--small {
                &::after {
                    border-width: 0 link(border size small) 0 0;
                    width: link(border size small);
                }
            }

            &--large {
                &::after {
                    border-width: 0 link(border size large) 0 0;
                    width: link(border size large);
                }
            }

            @each $size in 'badge' 'large' 'small' 'tab' {
                &--#{$size} {
                    padding: link(spacer $size);
                }
            }


            // Children
            .icon {
                @include margin-horizontal(link(spacer icon menu));
            }
        }

        // '.link-group-title' Should Be Slighlty Closer To Links
        .link-group-title + .link {
            margin-top: - link(spacer menu);
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Horizontally Scrolling Links
     *
     */

    &--scroller {
        overflow: hidden;

        // Children
        .link {
            font-weight: font-weight(500);
            margin: 0 link(spacer link scroller) 0 0;


            &:last-child,
            &--full,
            &--tab {
                margin: 0;
            }


            // Rounded Bottom Border
            &::after {
                @include position(absolute, null null 0 0);
                border-color: inherit;
                border-radius: link(border radius) link(border radius) 0 0;
                border-style: solid;
                content: '';
                display: none;

                border-width: link(border size default) 0 0;
                height: link(border size default);
                width: 100%;
            }

            @include state(active) {
                &::after {
                    display: block;
                }
            }

            &--badge,
            &--small {
                &::after {
                    border-width: link(border size small) 0 0;
                    height: link(border size small);
                }
            }

            &--large {
                &::after {
                    border-width: link(border size large) 0 0;
                    height: link(border size large);
                }
            }
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Basic Vertical Nav
     *
     */

    &--vertical {

        // Children
        .link-group {
            &-border {
                margin: link(spacer border) 0;
            }

            &-title {
                &:not(:first-child) {
                    margin-top: link(spacer vertical);
                }
            }

            &-border + .link-group-title {
                margin-top: 0;
            }
        }

        .link {
            clear: both;
            padding: link(spacer link vertical) 0;

            &:not(:first-child) {
                margin: (link(spacer link vertical) * 2) 0 0;
            }
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &-border {
        @include grid(d12);
        background: color('grey' 500);
        height: 1px;

        // Modifiers
        &--white {
            background: color('white', 0.16);
        }
    }

    &-title {
        @include float();
        @include font-size(font-size(), first-child);
        clear: both;
        color: color(text 500);
        font-weight: font-weight(500);

        // Modifiers
        @include color-modifiers(color, join(color-keys(brand), 'black' 'grey' 'white'));
    }
}
