/**
 *------------------------------------------------------------------------------
 *
 *  Vertical Nav/Link Group
 *
 *  Import Within Link Stylesheet To Retain Class Inheritance
 *
 */

&-column {

    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    .link {
        clear: both;
        padding: link(spacer link vertical) 0;

        &:not(:first-child) {
            margin: (link(spacer link vertical) * 2) 0 0;
        }

        &-border {
            margin: link(spacer border) 0;
        }

        &-title {
            &:not(:first-child) {
                margin-top: link(spacer vertical);
            }
        }

        &-border + .link-title {
            margin-top: 0;
        }
    }
}
