/**
 *------------------------------------------------------------------------------
 *
 *  Contain Elements Within Max-Width Specified + Align
 *
 */


@include module-function(container);


.container {
    @include position(relative, horizontal);
    max-width: container(max-width default);
    width: calc(100% - #{container(spacer) * 2});
    z-index: 1;
 

    /**
     *--------------------------------------------------------------------------
     *
     *  Modifiers
     *
     */

    // Remove Gutter On Mobile - Cleanup Free Space
    &--mobile {
        @include breakpoint(max-width, mobile) {
            width: 100%;
        }
    }

    &--small {
        max-width: container(max-width small);
    }
}
