/**
 *------------------------------------------------------------------------------
 *
 *  Modal ( Popup Windows )
 *
 */


@include module-function(modal);


.modal {
    @include position(absolute, center);
    @include transition(opacity transform, 0.2s);
    cursor: default;
    transform: translate(50%, 50%) scale(1);
    z-index: 1;


    // Necessary To Pass Scroll To Parent
    // - When Creating Modals Always Style/Use A Child Wrapper To Continue
    //   Scrolling Through '.modals'
    @include max-size(modal(max-width default), 100%);
    @include size(100%, auto);


    @include state(not-active) {
        opacity: 0;
        pointer-events: none;

        // Scale Used To Fix Scrollbar Flickr On Activation
        transform: translate(50%, 100%) scale(0);
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Modifiers
     *
     */

    &--small {
        max-width: modal(max-width small);
    }
}
