/**
 *------------------------------------------------------------------------------
 *
 *  Color Scheme
 *
 */

// Color list
@include token-set(colors, (

    // Brand Color list Used In Various Modules
    // 'black' 'grey' 'white' Are Only Added When Needed
    brand: 'primary' 'secondary' 'green' 'purple' 'yellow',

    // Red
    primary: (
        300: #ff3634,
        400: #ff2e2c,
        500: #f52c2a
    ),

    // Blue
    secondary: (
        300: #3474ff,
        400: #2c6eff,
        500: #2a6af5
    ),

    'black': (
        300: #26292e,
        400: #1d2025,
        500: #1c1f24
    ),

    // Redundant But Necessary To Use In Various Color Modifiers Loops
    'white': (
        300: #fff,
        400: #fff,
        500: #fff
    ),

    'grey': (
        300: #f3f6fa,
        400: #eef2f8,
        500: #e5e9ee
    ),

    'green': (
        300: #23ea68,
        400: #1ae962,
        500: #19e05e
    ),

    'purple': (
        300: #9b50e7,
        400: #9749e6,
        500: #9146dd
    ),

    'yellow': (
        300: #ffdf45,
        400: #ffde3d,
        500: #f5d53b
    ),

    text: (
        300: #5c5e62, 
        400: #414448,
        500: #26292e
    ),

    cryptocurrency: (
        adx: #1676BB,
        adt: #3250A7,
        aeon: #5FBCD3,
        ant: #2ABFE2,
        ark: #f1373a,
        rep: #612A52,
        bnt: #0D112D,
        bat: #ff5000,
        bay: #2DA1E0,
        btc: #F7931A,
        bch: #F7931A,
        bts: #44B7E3,
        blk: #DCB850,
        bcn: #D43474,
        link: #01A6FB,
        time: #4B8AB7,
        cvc: #3BAF29,
        cloak: #E72E00,
        cfi: #0199E5,
        xcp: #EC1550,
        dash: #008de4,
        dct: #009171,
        dcr: #2772FF,
        dent: #ad060f,
        dgb: #0871C2,
        xdn: #4f7ba2,
        dgd: #353535,
        dnt: #2F3A8C,
        doge: #C2A633,
        edg: #32325D,
        elastic: #343433,
        eos: #000000,
        eth: #151515,
        etc: #0C8412,
        fct: #136DC3,
        ftc: #231F20,
        1st: #c42026,
        game: #98C01F,
        gno: #00A6C4,
        gnt: #000000,
        hmq: #234D95,
        icn: #4C6F8C,
        iota: #000000,
        ioc: #35A3DA,
        kmd: #306565,
        lsk: #13275F,
        ltc: #3D3E3C,
        lkk: #F8003A,
        maid: #29578A,
        gup: #35A2BC,
        mtl: #000000,
        etp: #E41D22,
        mco: #F67F5F,
        nav: #C32AB6,
        nebl: #34ACE3,
        nem: #05CCBB,
        nxs: #57ABDF,
        nmr: #5ACADF,
        nxt: #00A0C6,
        ok: #1D6BB1,
        omg: #1A53F0,
        omni: #18347E,
        zrx: #454545,
        prt: #03E8B0,
        ptoy: #DA0028,
        pivx: #3B2F4D,
        rdd: #FF1A00,
        xrp: #017CB5,
        rise: #E43B53,
        safex: #0097BE,
        shift: #2F566F,
        sc: #00DEA9,
        sngls: #D40D2F,
        smart: #F4B517,
        snm: #0B1D28,
        snt: #505DB7,
        steem: #4BA2F2,
        stellar: #08B5E5,
        storj: #1C7FFF,
        stx: #3E0CA3,
        strat: #1C88C9,
        unity: #FF6600,
        swt: #EFD96F,
        amp: #140518,
        sys: #058FD0,
        pay: #222222,
        usdt: #26A17B,
        tkn: #16204A,
        ubq: #00EA90,
        xvg: #00CBFF,
        ven: #09122D,
        vtc: #1B5C2E,
        vox: #01548F,
        wgr: #E50000,
        waves: #164DFB,
        wings: #5AB9E1,
        zen: #DF7B00,
        zec: #D39035,
        xzc: #29B857,
        xel: #22B24C,
        fun: #EE0267,
        xlm: #08B5E5,
        xmr: #F26822,
        xrb: #fff
    ),

    misc: (
        pdf: #FD001E
    ),

    social: (
        facebook: #3b5998,
        github: #171515,
        instagram: #000000,
        linkedin: #0077b5,
        medium: #1F1F1F,
        reddit: #ff4500,
        snapchat: #fffc00,
        soundcloud: #FF5510,
        spotify: #1db954,
        tradingview: #3BB3E4,
        twitch: #6441a5,
        twitter: #1DA1F3,
        youtube: #ff0000
    ),

    // Instagram Is Difficult With Branding So Default Color Value Is Black
    // Gradient Colors Listed Below Are Used For Button States
    instagram: (
        300: (
            radial-gradient(circle farthest-corner at 35% 90%, lighten(#fec564, 3.2%), transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, lighten(#fec564, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 0 -25%, lighten(#5258cf, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, lighten(#5258cf, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 0, lighten(#893dc2, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, lighten(#893dc2, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 100%, lighten(#d9317a, 3.2%), transparent),
            linear-gradient(lighten(#6559ca, 3.2%), lighten(#bc318f, 3.2%) 30%, lighten(#e33f5f, 3.2%) 50%, lighten(#f77638, 3.2%) 70%, lighten(#fec66d, 3.2%) 100%)
        ),
        400: (
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
        ),
        500: (
            radial-gradient(circle farthest-corner at 35% 90%, darken(#fec564, 3.2%), transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, darken(#fec564, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 0 -25%, darken(#5258cf, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, darken(#5258cf, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 0, darken(#893dc2, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, darken(#893dc2, 3.2%), transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 100%, darken(#d9317a, 3.2%), transparent),
            linear-gradient(darken(#6559ca, 3.2%), darken(#bc318f, 3.2%) 30%, darken(#e33f5f, 3.2%) 50%, darken(#f77638, 3.2%) 70%, darken(#fec66d, 3.2%) 100%)
        )
    )
));


/**
 *------------------------------------------------------------------------------
 *
 *  Functions
 *
 */

@function color($key, $transparency: 1){
    @if length($key) == 1 {
        $key: append($key, token-weight(default));
    }

    $color: color-group($key);

    @if $color {
        @return rgba($color, $transparency);
    }

    @return false;
}

@function color-group($key) {
    @return token-get(colors $key);
}

// Return Keys To Loop Through; Typically To Create Module Modifiers
@function color-keys($key) {
    @if $key == brand {
        @return token-get(colors brand);
    }

    @if $key == social {
        @return map-keys(token-get(colors social));
    }

    @return false;
}


/**
 *------------------------------------------------------------------------------
 *
 *  Mixins
 *
 */

// Simplify Creating Dynamic Color Modifiers
@mixin color-modifiers($css-properties, $color-ids, $targets: ('&--{r}',)) {
    @each $color-id in $color-ids {
        $color-group: color-group($color-id);

        @if $color-group {
            $default-weight-color: arr-get(token-weight(default), $color-group);

            // When A Color With '400' Weight Is Found Use It
            @if $default-weight-color {
                $color-group: ($color-id: $default-weight-color);
            }

            @each $color-name, $color-hex in $color-group {
                @include modifiers($color-name, $targets) {
                    @each $css-property in $css-properties {
                        #{$css-property}: #{$color-hex};
                    }
                }
            }
        }
    }
}
