/**
 *------------------------------------------------------------------------------
 *
 *  Vertical Video List
 *
 *  Import Within Video Stylesheet To Retain Class Inheritance
 *
 */

&-column {
    @include grid(d12);
    max-width: media(max-width);


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    .media {
        margin: media(spacer vertical top) 0 0;

        &:first-child {
            margin: 0;
        }

        &-footer {
            padding: 0 0 0 media(spacer vertical left);
            width: 60%;
        }

        &-thumbnail {
            width: 40%;
        }

        &-title {
            margin-top: 0;
        }
    }
}
