/**
 *------------------------------------------------------------------------------
 *
 *  Horizontal Link Border/Divider Used By Various Link Groups
 *
 *  Import Within Link Stylesheet To Retain Class Inheritance
 *
 */

&-border {
    @include grid(d12);
    background: color('grey' 500);
    height: 1px;


    /**
     *--------------------------------------------------------------------------
     *
     *  Modifiers
     *
     */

    &--white {
        background: color('white', 0.16);
    }
}
