/**
 *------------------------------------------------------------------------------
 *
 *  Horizontally Scrolling Links
 *
 *  Import Within Link Stylesheet To Retain Class Inheritance
 *
 */

&-scroller {
    overflow: hidden;


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    .link {
        font-weight: font-weight(500);
        margin: 0 link(spacer link scroller) 0 0;


        &:last-child,
        &--full,
        &--tab {
            margin: 0;
        }


        // Rounded Bottom Border
        &::after {
            @include position(absolute, null null 0 0);
            border-color: inherit;
            border-radius: link(border radius) link(border radius) 0 0;
            border-style: solid;
            content: '';
            display: none;

            border-width: link(border size default) 0 0;
            height: link(border size default);
            width: 100%;
        }

        @include state(active) {
            &::after {
                display: block;
            }
        }

        &--badge,
        &--small {
            &::after {
                border-width: link(border size small) 0 0;
                height: link(border size small);
            }
        }

        &--large {
            &::after {
                border-width: link(border size large) 0 0;
                height: link(border size large);
            }
        }
    }
}
