/**
 *------------------------------------------------------------------------------
 *
 *  Truncate Text and Adds An Ellipsis To Represent Overflow
 *
 */

@mixin truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
