/**
 *------------------------------------------------------------------------------
 *
 *  Center Children Within Element
 *
 */

@mixin center-children() {
    text-align: center;

    > * {
        float: none;
        display: inline-block;
    }
}
