/**
 *------------------------------------------------------------------------------
 *
 *  Banner Module Configuration
 *
 */

@include module-set(banner, (
    height: (
        default: 640px,
        small: 320px
    )
));


/**
 *------------------------------------------------------------------------------
 *
 *  Functions
 *
 */

@function banner($key) {
    @return module-get(banner $key);
}
