/**
 *------------------------------------------------------------------------------
 *
 *  Bulletpoint/Numbered Lists
 *
 */


@include module-function(list);


li, ol, ul {
    @include grid(d12);
    line-height: inherit;
    list-style: none;
    margin: margin-text() 0 0;
    padding: 0;

    &:first-child {
        margin: 0;
    }
}

li {
    ol &,
    ul & {
        padding: 0 0 0 list(spacer indent);

        &::before {
            @include position(absolute, 0 calc(100% - #{list(spacer indent) - list(spacer pseudo)}) null null);
        }
    }


    // Nested Lists
    li {
        margin: margin-text(300) 0 0;

        &:first-child {
            margin: 0;
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Numbered List
     *
     */

    ol & {
        counter-increment: li;

        &::before {
            color: color(text 500);
            content: counter(li) ".";
            font-weight: font-weight(600);
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Bulletpoint List
     *
     */

    // Used Within Psuedo Element & '$top' Variable
    $bullet-size: 6px;

    // Vertically Centers Bullet With List Item Text
    $top: ((font-size() * line-height()) - $bullet-size) / 2;

    ul & {
        &::before {
            @include circle($bullet-size);
            background-color: color(text 500);
            content: "";
            margin: $top list(spacer bullet) 0 0;
        }
    }
}
