/**
 *------------------------------------------------------------------------------
 *
 *  Horizontal Progress Bar
 *
 */

.progress {
    @include grid(d12);


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &-item {
        @include float();
        height: size(100);

        &:not(:first-child) {
            border-left: 2px solid color('white');
        }

        // Modifiers
        @include color-modifiers(background, join(color-keys(brand), 'black' 'white'));

        &--grey {
            background: color('grey' 500);
        }
    }
}
